<h1>Editing user datum</h1>

<%= render "form", user_datum: @user_datum %>

<br>

<div>
  <%= link_to "Show this user datum", @user_datum %> |
  <%= link_to "Back to user data", user_data_path %>
</div>
